:root {
  --vt-c-white: #eeeef6;

  --vt-c-black: #181818;

  --color-dark-blue: #172755;
  --color-red: #ef2a82;
  --color-blue: #488cb6;
  --color-text: #363636;

  --secondary-background: #f5f5fd;
  --active: #eef3f9;

  --color-main: #4c4ddc;
  --color-surface: #f5f5ff;
  --color-border: #cfcfcf;
  --color-hover: #3334cc;
  --color-pressed: #21217a;
  --color-focus: rgba(76, 77, 220, 20%);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);
    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);
    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  font-family: (--font-family);
  background-color: var(--color-surface);
}

hr {
  margin-bottom: 1.5rem;
}

label {
  background-color: var(--color-border);
  margin-bottom: 0.5rem;
}

.subhead-topic {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  background-color: var(--color-border);
  margin-bottom: 1rem;
}

.input-field {
  background-color: var(--active);
  border-radius: 31px;
}

.input-number-field {
  background-color: var(--active);
  border-radius: 15px;
  max-width: 100px;
}

.user-info {
  padding: 1rem;
  border-radius: 25px;
  background-color: var(--color-border);
}

.two-input {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  background-color: var(--color-border);
  margin-bottom: 1.5rem;
}
